<h1>Lista de productos</h1>
<a class="linkCarrito" href="#">Carrito</a>

<ul>
  {{#each productos}}
    <li>
      <h2>{{name}}</h2>
      <p><strong>Código:</strong> {{code}}</p>
      <p><strong>Descripción:</strong> {{description}}</p>
      <p><strong>Precio:</strong> ${{price}}</p>
      <p><strong>Stock:</strong> {{stock}}</p>
    </li>
    <button class="add-to-cart" data-id="{{_id}}">Añadir al carrito</button>
  {{/each}}
</ul>
<a href="/?page=1">Fir.Pag</a>

{{#if hasPrevPage}}
  <a href="/?page={{prevPage}}">Prev.Pág.</a>
{{else}}

{{/if}}
{{#if hasNextPage}}
  <a href="/?page={{nextPage}}">Nex.Pág.</a>
{{else}}

{{/if}}

<a href="/?page={{totalPages}}">Ult.Pag</a>
<script>
  document.addEventListener("DOMContentLoaded", async () => {
    // Ver si hay un carrito en el local storage
    let idCarrito = localStorage.getItem("idCarrito");
    if (!idCarrito) {
      idCarrito = prompt("Por favor, introduce el ID de tu carrito:");
      if (!idCarrito) {
        alert("Debe proporcionar un ID para continuar.");
        return;
      }
    }

    try {
      const respuesta = await fetch(`/api/carritos/${idCarrito}`);
      if (!respuesta.ok) {
        alert("El carrito no existe, por lo que no podrá usar el carrito.");
        return;
      }
      localStorage.setItem("idCarrito", idCarrito);
      const carritoLink = document.querySelector(".linkCarrito");
      if (carritoLink) {
        carritoLink.href = `/carritoUser/${idCarrito}`;
      }
      document.querySelectorAll(".add-to-cart").forEach((button) => {
        button.addEventListener("click", async () => {
          const idProducto = button.getAttribute("data-id");
          if (!idProducto) {
            alert("Error: no se encontró el ID del producto.");
            return;
          }
          try {
            const respuesta = await fetch(`/api/carritos/${idCarrito}/producto/${idProducto}`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });
            if (respuesta.ok) {
              alert("Producto añadido al carrito.");
            } else {
              const error = await respuesta.json();
              console.error("Error al añadir producto:", error, error.message);
              alert("No se pudo añadir el producto al carrito.");
            }
          } catch (error) {
            console.error("Error al conectar con el servidor:", error.message);
            alert("Hubo un error al conectar con el servidor.");
          }
        });
      });
    } catch (error) {
      console.error("Error al verificar el carrito:", error.message);
      alert("Hubo un error al verificar el carrito.");
    }
  });
</script>
